@import url('https://fonts.googleapis.com/css2?family=Netflix+Sans&display=swap');
body{
  background-color: #000000;
  font-family: 'Netflix Sans', sans-serif; 
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  gap: 40px;
  background: #000000;
}
.home button{
    padding: 200px;
    background-color: #831010;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 45px;
    font-weight: bold;
    cursor: pointer;
}

.navbar{
  display: flex;
  justify-content: space-around;
  background: rgb(2,0,36);
  background: #000000;
  align-items: center;
}
.navbar h1{
  color: white;
}
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;

}
.nav li{
  background-color: #000000;
  padding: 10px 5px;
  border: none;
  border-radius: 5px;
  list-style: none;
}
.nav li a{
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
/* .nav h1{
  background: #db0000;
} */
.movielist{
  display: grid;
  padding: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.card{
  padding: 45px;
  border-radius: 25px;
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  background: #000000;
}
.card li{
  display: flex;
  flex-direction: column;
  list-style: none;

}
.card li h1{
  color: white;
  font-size: 25px;
}
.card li section{
  display: flex;
  gap: 10px;
  color: white;
  font-weight: bold;
}
.card li img{
  border-radius: 20px;
}
.fav-icon{
  height: 50px;
  width: 50px;
  margin-left: 70px;
}
.search {
  display: flex;
  align-items: center;
  background-color: #000000;
  border: 1px solid #333;
  border-radius: 4px;
  overflow: hidden;
  padding: 5px 10px;
  width: 250px;
}

.search input[type="text"] {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  outline: none;
  padding: 5px;
  width: 100%;
}

.search input[type="text"]::placeholder {
  color: #757575;
}

.search button {
  background-color: #831010; 
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
}

.search button:hover {
  background-color: #db0000; 
}

.order{
  display: flex;
  width: 100%;
  padding: 30px;
  justify-content: space-between;
  background: #000000;
  
}

.order li{
  background-color: #831010;
  padding: 10px 40px;
  list-style: none;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.pagination{
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.pagination button{
  padding: 10px 30px;
  border: none;
  color: white;
  border-radius: 10px;
  background: #831010;
  cursor: pointer;
}
.pagination button:hover{
  background-color: #db0000;
}
.pagination button:disabled{
  background: none;
  background-color: gray;
}